html,
body {

margin:0;
height:100%;
font-family:Arial;

}


#map {

height:calc(100% - 140px);

}


#panel {

height:140px;

padding:10px;

box-sizing:border-box;

background:white;

}


#status {

font-size:16px;

line-height:1.5;

}